:root {
  --app-button-primary-bg-color: var(--primary);
  --app-button-primary-text-color: #fff;

  --app-button-sucess-bg-color: #03f9a3;
  --app-button-sucess-text-color: #fff;

  --app-button-danger-bg-color: #f03232;
  --app-button-danger-text-color: #fff;

  --app-button-warning-bg-color: #ffbb00;
  --app-button-warning-text-color: #fff;
}
