<section class="title">
  <img src="assets/images/CV.gif" alt="">
</section>
<ul class="menu">
  <li class="menu-item" tabindex="0">
    <fa-icon icon="camera-retro"></fa-icon> <span>REF</span>
  </li>
  <li class="menu-item" tabindex="0">
    <fa-icon icon="hippo"></fa-icon><span>SHOE</span>
  </li>
  <li class="menu-item" tabindex="0">
    <fa-icon icon="bolt"></fa-icon><span>VACUUM</span>
  </li>
  <li class="menu-item" tabindex="0">
    <fa-icon icon="binoculars"></fa-icon><span>DISHWASHER</span>
  </li>
</ul>
