app-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--secondary);
  padding: 3rem 2rem;
  app-list-item {
    display: flex;
    align-items: center;
    padding: 3rem 2rem;
    background: linear-gradient(
      90deg,
      rgba(27, 229, 169, 0.7903536414565826) 0%,
      rgba(27, 229, 169, 0.8323704481792717) 26%,
      rgba(27, 229, 169, 0) 52%,
      rgba(27, 229, 169, 0) 100%
    );
    background-size: 500% 500%;
    background-position: 75% 0%;
    // &:focus {
    //   animation: item-focus 0.3s ease forwards;
    // }
    &.selected {
      animation: item-focus 0.3s ease forwards;
    }
    [prefix] {
      padding: 1rem;
    }
    [suffix] {
    }
    main {
      width: 100%;
    }
    &:hover {
      // background-color: var(--primary-transparent);
    }
  }
}

@keyframes item-focus {
  from {
    background-position: 75% 0%;
    border-left: 0;
  }
  to {
    background-position: 35% 0%;
    border-left: 3px solid var(--primary-text-color);
  }
}
